@page "/fetch-data"
@inject HttpClient Http

<h1>Дані з сервера</h1>



@code {

    public class User
    {
        public string Name { get; set; }
        public string Email { get; set; }
        public string Address { get; set; }
        public string Phone { get; set; }
    }

    
    private List<User> Users = new List<User>
        {
            new User { Name = "John Doe", Email = "johndoe@example.com", Address = "123 Main St", Phone = "555-1234" },
           
        };
}
